.btn {
  padding: 5px 16px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  font-size: 12px;
  font-family: 'Roboto-Medium';
}

.btn--primary {
  background-color: var(--font-grey);
  color: #242424;
  border: 1px solid var(--font-grey);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 5px 16px;
  border: 1px solid var(--font-grey);
  transition: all 0.3s ease-out;
}

.green--outline {
  border: 1px solid var(--primary-green);
  background: transparent;
  color: var(--primary-green);
}

.white {
  background-color: #fff;
  color: #000;
  border: none;
}

.green {
  background-color: var(--primary-green);
  color: black;
  border: none;
}