.data-strip {
  width: 90%;
  min-width: 854px;
  height: 88px;
  font-family: 'Roboto-Medium';
  margin: 0 auto;
  margin-bottom: 20px;
  background: var(--bg-primary-color);
  border: 1px solid transparent;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 30px;
  cursor: pointer;
}

.data-strip::after {
  content: '';
  top: -2px;bottom: -2px;
  right: -2px;left: -2px;
  background: linear-gradient(154.79deg, #535763 0%, rgba(80, 83, 95, 0.09) 58.33%, #585C6B 100%);
  position: absolute;
  z-index: -1;
  border-radius: 8px;
}

.data-strip p {
  margin: 2px;
}
.data-strip > div{
  display: flex;
  flex: 1;
  align-items: center;
}
.data-strip > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20px;
}

.data-strip > div:nth-child(2) > div {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-strip > div:nth-child(3) > *{
  margin-right: 30px;
}

.data-strip > div:nth-child(4){
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.data-strip > div:first-child{
  align-items: flex-start;
  padding-top: 10px;
  border-right: 1px dashed #666e795e;
}

.data-strip > div:first-child > *:first-child {
  margin-top: 1px;
}

.data-strip > div:first-child >*{
  margin-right: 10px;
} 

.graph-lines {
  color: rgb(255, 255, 255);
  stroke: rgba(102, 110, 121, 0.5);
  stroke-dasharray: 2px, 2px;
}

.graph-text {
  fill: rgb(255, 255, 255);
  dominant-baseline: middle;
  text-anchor: middle;
  font-family: Roboto;
  font-size: 9px;
}

.strip-numbers {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  white-space: nowrap;
}

.strip-headings {
  font-family: "Roboto-Medium";
  font-size: 12px;
  line-height: 16px;
  color: var(--font-grey);
  white-space: nowrap;
}

.strip-rate {
  font-family: 'Roboto-Light';
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}




