:root {
  --bg-primary-color: #272A2D;
  --bg-secondary-color: #181B1C;
  --bg-other-color:#1E2122;
  --tag-color:#1C9DE8;
  --primary-green: #9AC802;
  --primary-red: #FA4F4F;
  --font-grey:  #666E79;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('../fonts/Roboto/Roboto-Thin.ttf');
}

* {
  box-sizing: border-box;
}

 body {
  margin: 0;
  font-family: 'Roboto-Regular';
  font-weight: 500;
  font-style: normal;
  height: 100vh;
  width: 100vw;
  z-index: -30;
}

#root {
  height: 100%;
}

