.navbar {
  display: flex;
  height: 64px;
  background: var(--bg-primary-color);
  border-bottom: 2px solid var(--primary-green);
  justify-content: space-between;
}

.navbar > div {
  flex: 1;
  display: flex;
  align-items: center;
}

.navbar > div:first-child >*{
  margin-left: 5%;
}

.navbar > div:nth-child(2)>*{
  margin: 5px;
}

.navbar > div:last-child {
  justify-content: flex-end;
  padding-right: 20px;
}

.navbar > div:last-child > * {
  margin-right: 20px;
}

.double-btn {
  font-family: "Roboto-Medium";
  font-size: 12px;
  line-height: 16px;
  display: flex;
  cursor: pointer;
}

.double-btn > a {
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  flex: 1;
  padding: 4px 13px;
}

.double-btn > a:first-child {
  color:#111112;
  background:#fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.double-btn > a:last-child {
  color: white;
  border: 1px solid var(--font-grey);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.user {
  background-image: url('../images/male.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.user > span {
  width: 16px;
  height: 16px;
  background-color: var(--tag-color);
  font-size: 9px;
  color: white;
  line-height: 16px;
  text-align: center;
  position: absolute;
  right: -7px;
  top: -3px;
  border-radius: 50%;
}

