.navbar {
  display: flex;
  height: 64px;
  /* border: 1px solid red; */
  background: var(--bg-primary-color);
  border-bottom: 2px solid var(--primary-green);
}

.navbar > div {
  /* border: 1px solid green; */
  flex: 1;
}

.user {
  background-image: url('../images/male.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: relative;
}

.user > span {
  width: 16px;
  height: 16px;
  background-color: var(--tag-color);
  font-size: 9px;
  color: white;
  line-height: 16px;
  text-align: center;
  position: absolute;
  right: -7px;
  top: -3px;
  border-radius: 50%;
}